@font-face{
    font-family: 'Roboto';
    src: url(../../fonts/Roboto-Thin.ttf);
    font-size: 100px;
}
@font-face{
    font-family: 'Roboto';
    src: url(../../fonts/Roboto-Regular.ttf);
    font-size: 400px;
}
@font-face{
    font-family: 'Roboto';
    src: url(../../fonts/Roboto-Medium.ttf);
    font-size: 500px;
}
@font-face{
    font-family: 'Roboto';
    src: url(../../fonts/Roboto-Bold.ttf);
    font-size: 700px;
}